@*
    Ovo je komentar.
    Svojstvo Layout definira li će se stranica učitati unutar neke masterpage stranice
    @Html.ActionLink() je html helper. Pomoću njega lakše pišemo html kod.
*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Baza poslovnih partnera</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Pretraživanje i pregled</h2>
        <p>Pretraživanje poslovnih partnera po nazivu, ažuriranje poslovnih partnera, brisanje poslovnih partnera.</p>
        <p>@Html.ActionLink("Pregled", "Popis", "Partneri", "", new { @class = "btn btn-default btn-lg", role = "button" })</p>
    </div>
    <div class="col-md-6">
        <h2>Unos novog poslovnog partnera</h2>
        <p>Unos novog poslovnog partnera u centralnu bazu podataka.</p>
        <p>@Html.ActionLink("Unos", "Azuriraj", "Partneri", "", new { @class = "btn btn-default btn-lg", role = "button" })</p>
    </div>
</div>

