@using Firma.Models.PoslovnaLogika
@model IEnumerable<Racun>

<div class="form-horizontal">
    <table class=" table">
      @foreach(Racun r in Model)
      {
          <tr>
              <td>@r.id_art</td>
          </tr>
      }
        </table>
    </div>
