@using Firma.Models.PoslovnaLogika
@model RacunViewModel

@using (Html.BeginForm())
{
    // @Html.AntiForgeryToken()  generates a hidden form anti-forgery
    // token that must match in the Edit method of the Movies controller.
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>ID artikla</td>
            <td>ID partnera</td>
            
        </tr>

      @foreach(var a  in Model)
      {
          <tr>
              <td>@a.artikli</td>
          </tr>
      }


    </table>
}