@using Firma.Models.PoslovnaLogika
@model Artikli

<div class="form-horizontal">
    <table class=" table">
        <tr>
            <td>@Html.LabelFor(model => model.ime_artikla, new { @class = "control-label" })</td>
            <td>
                @Html.DropDownListFor(model => model.ime_artikla,
                    new SelectList(ViewBag.artDrop), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ime_artikla, "", new { @class = "text-danger" })
            </td>
        </tr>
        </table>
    </div>
